<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 自定义服务名称 -->
    <dubbo:application name="ErpServiceProvider"/>

    <!-- 注册中心地址 -->
    <dubbo:registry address="zookeeper://192.168.1.123:2181"/>

    <!-- dubbo的协议和端口 添加host可以指定使用的网卡 -->
  <!--  <dubbo:protocol host="192.168.1.126" port="20880"/>-->

    <!-- 暴露服务 -->
    <bean id="carService" class="com.kaisheng.it.service.impl.CarServiceImpl"/>
    <bean id="employeeService" class="com.kaisheng.it.service.impl.EmployeeServiceImpl"/>
    <bean id="fixOrderService" class="com.kaisheng.it.service.impl.FixOrderServiceImpl"/>
    <bean id="loginService" class="com.kaisheng.it.service.impl.LoginServiceImpl"/>
    <bean id="orderService" class="com.kaisheng.it.service.impl.OrderServiceImpl"/>
    <bean id="partsService" class="com.kaisheng.it.service.impl.PartsServiceImpl"/>
    <bean id="rolePermissionService" class="com.kaisheng.it.service.impl.RolePermissionServiceImpl"/>

    <dubbo:service interface="com.kaisheng.it.service.CarService" ref="carService"/>
    <dubbo:service interface="com.kaisheng.it.service.EmployeeService" ref="employeeService"/>
    <dubbo:service interface="com.kaisheng.it.service.FixOrderService" ref="fixOrderService"/>
    <dubbo:service interface="com.kaisheng.it.service.LoginService" ref="loginService"/>
    <dubbo:service interface="com.kaisheng.it.service.OrderService" ref="orderService"/>
    <dubbo:service interface="com.kaisheng.it.service.PartsService" ref="partsService"/>
    <dubbo:service interface="com.kaisheng.it.service.RolePermissionService" ref="rolePermissionService"/>


</beans>