<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 自定义服务器名称 -->
    <dubbo:application name="ErpDrontWeb"/>

    <!-- 注册中心 -->
    <dubbo:registry address="zookeeper://192.168.1.125:2181"/>

    <!-- 接受信息 -->
    <dubbo:reference interface="com.kaisheng.it.service.RolePermissionService" id="rolePermissionService"/>
    <dubbo:reference interface="com.kaisheng.it.service.LoginService" id="loginService"/>
    <dubbo:reference interface="com.kaisheng.it.service.CarService" id="carService"/>
    <dubbo:reference interface="com.kaisheng.it.service.EmployeeService" id="employeeService"/>
    <dubbo:reference interface="com.kaisheng.it.service.OrderService" id="orderService"/>
    <dubbo:reference interface="com.kaisheng.it.service.PartsService" id="partsService"/>

</beans>