<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


    <!--  内联表达式 -->
    <h3>你好:[[${message}]]</h3>
    <h3>你好:[(${message})]</h3>

    <h3 th:inline="none">[[1,2,3], [4,5]]</h3>
    <h3>Time:<span th:text="${#calendars.format(time,'yyyy-mm-dd HH:mm:ss')}"></span></h3>
    <h3 th:text="${#numbers.formatInteger(money,0,'COMMA')}"></h3>
    <h3 th:text="${#numbers.formatCurrency(money)}"></h3>
    <h3 th:text="${#numbers.formatDecimal(bitcoin,1,8)}"></h3>

    <div th:replace="~{public::footer(companyName = 'kaishengit')}"></div>


    <script th:inline="javascript">
        [# th:if="${id != 1000}"];
        var id = [[${id}]];
        var name = [[${name}]];
        //alert(id);
        [/]

        var map = [[${map}]];

    </script>
</body>
</html>